html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* additional styles for buttons */
button {
  background: #2ecc71;
  padding: 1rem 4rem;
  border-radius: 6px;
  font-size: 18px;
  text-transform: uppercase;
  flex-shrink: 0;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s linear;
}

button:hover {
  background: #27ae60;
}

button.logout {
  background: #e74c3c;
}

button.subscribed {
  background: #2c3e50;
}
